@font-face {
    font-family: iphone;
    src: url(z.woff2);
}
@font-face {
    font-family: iphone2;
    src: url(sf-pro-display_medium.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
height: 100%;
width: 100%;
}
#main{
    height: 60px;
    width: 100%;
    background-color: rgb(26, 26, 26);
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: iphone2;
}
#nav{
   font-weight: 900; 
   font-size: 20px;
   display: flex; 
   gap: 75px;
   color: white;
}
#nav a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: 300;
}
#nav :hover{
    color: orange;
    transition: scale(1);
}
#line{
    height: 35px;
    width: 100%;
    background-color: rgb(42, 41, 41);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: iphone2;
}
#page1 video{
     height: 100%;
     width: 100%;
     object-fit: cover;
     object-position: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-size: cover; 
    background-position: center;
   background-image: url(hero_iphone_air__0gxyavihpiqu_medium.jpg);
 
}
#page2 #air{
    text-align: center;
    font-family: iphone2;
}
#air h1{
    font-size: 60px;
    padding-top: 20px;
}
#air p{
     margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
#air #btn1{
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    color: white;
    background-color: rgb(0, 115, 255);
}
#air button:not(#btn2):hover {
  background-color: white;
  color: rgb(0, 115, 255);
  transform: scale(1.05);
}
#air #btn2{
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px;
    padding: 10px;
     font-size: 20px;
    font-family: iphone2;
    padding: 10px 16px;
    background-color: white;
    color:  rgb(0, 115, 255);
    border: solid 1px  rgb(0, 115, 255);
    margin-left: 5px;
    transition: all 0.3s ease;
}
 #air #btn2:hover {
   background-color:  rgb(0, 115, 255);
  color: white;
  transform: scale(1.05);
}
#page3{
    height: 100%;
    width: 100%;
    font-family: iphone;
    text-align: center;
    background-size: cover; 
    background-position: center;
    background-image: url(hero_macbook_pro_m5__fjgmapbkxo2u_medium.jpg);
}
#macbook h2{
    padding-top: 40px;
    font-size: 60px;
    color: white;
}
#macbook p{
   padding-top: 15px;
    font-size: 30px;
    font-weight: 500;
    color: white;
}
#macbook #btn3{
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    color: white;
    background-color: rgb(0, 115, 255);
}
#macbook button:not(#btn4):hover {
  background-color: white;
  color: rgb(0, 115, 255);
  transform: scale(1.05);
}
#macbook #btn4{
    cursor: pointer;
    margin-top: 20px;
    border-radius: 30px;
    padding: 10px;
     font-size: 20px;
    font-family: iphone2;
    padding: 10px 16px;
    background-color: white;
    color:  rgb(0, 115, 255);
    border: solid 1px  rgb(0, 115, 255);
    margin-left: 5px;
    transition: all 0.3s ease;
}
 #macbook #btn4:hover {
   background-color:  rgb(0, 115, 255);
  color: white;
  transform: scale(1.05);
}
